# Manipulação de Dados

## Filtrando dados

In [1]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [4]:
np.random.seed(25) # gerador de números aleatórios
linhas = ['linha 1', 'linha 2', 'linha 3',
          'linha 4', 'linha 5', 'linha 6']
colunas = ['coluna 1', 'coluna 2', 'coluna 3',
          'coluna 4', 'coluna 5', 'coluna 6']
dados2 = np.random.rand(36).reshape((6,6))

df = DataFrame(dados2, index=linhas, columns=colunas)
df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
linha 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
linha 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
linha 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
linha 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
linha 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

## Comparando com um valor

### nome_do_objeto < valor

In [5]:
# Compara cada valor no dataframe
df < .2

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1     False     False     False      True     False      True
linha 2     False     False     False     False     False      True
linha 3     False     False      True     False     False     False
linha 4     False     False     False     False     False     False
linha 5     False     False      True     False     False     False
linha 6     False     False     False     False     False     False

## Usando valor escalar para filtrar

### nome_do_objeto[nome_do_objeto > valor]

In [9]:
filtro = df > 0.3
df[filtro]

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.870124  0.582277       NaN       NaN  0.411100       NaN
linha 2  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
linha 3  0.447031  0.585445       NaN  0.520719  0.326051  0.699186
linha 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
linha 5  0.514244  0.559053       NaN  0.719930  0.421004  0.436935
linha 6       NaN  0.900274  0.669612  0.456069       NaN  0.525819

In [10]:
linhas = ['linha 1', 'linha 2', 'linha 3', 'linha 4',
         'linha 5', 'linha 6', 'linha 7', 'linha 8']
series = Series(np.arange(8), index=linhas)
series[series > 2]

linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int64

## Atualizando valores

### ['indice', 'indice', 'indice'] = valor

In [14]:
series['linha 2', 'linha 5', 'linha 7'] = 8, 10, 12
series

linha 1     0
linha 2     8
linha 3     2
linha 4     3
linha 5    10
linha 6     5
linha 7    12
linha 8     7
dtype: int64