# Manipulação de Dados

## Removendo dados duplicados

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [28]:
em_branco = np.nan
np.random.seed(25)
valores = {
    1:[0, 0, 0, 1, 2, 2, 3],
    2:['a', 'a', 'c', 'c', 'e', 'e', 'f'],
    3:['A', 'A', 'C', 'D', 'E', 'E', 'F'],
}
df = DataFrame(valores)
df

   1  2  3
0  0  a  A
1  0  a  A
2  0  c  C
3  1  c  D
4  2  e  E
5  2  e  E
6  3  f  F

In [14]:
# df_preenchido = df.fillna(1)
# df_preenchido

### Removendo dados duplicados

#### nome_do_objeto.duplicated()

In [20]:
df.duplicated()

0    False
1     True
2    False
3    False
4    False
5     True
6    False
dtype: bool

#### nome_do_objeto.drop_duplicates()

In [26]:
# Observa todas as colunas do dataframe
df.drop_duplicates()

   1  2  3
0  0  a  A
2  0  c  C
3  1  c  D
4  2  e  E
6  3  f  F

In [29]:
# Alteração ocorre diretamente no objeto, sem gerar um novo
# df.drop_duplicates(inplace=True)
df

   1  2  3
0  0  a  A
1  0  a  A
2  0  c  C
3  1  c  D
4  2  e  E
5  2  e  E
6  3  f  F

#### nome_do_objeto.drop_duplicates(['nome_da_coluna'])

In [41]:
# Observa apenas as colunas especificadas
df.drop_duplicates([2, 3])

   1  2  3
0  0  a  A
2  0  c  C
3  1  c  D
4  2  e  E
6  3  f  F